# Capstone Project: Create a Customer Segmentation Report for Arvato Financial Services

In this project, you will analyze demographics data for customers of a mail-order sales company in Germany, comparing it against demographics information for the general population. You'll use unsupervised learning techniques to perform customer segmentation, identifying the parts of the population that best describe the core customer base of the company. Then, you'll apply what you've learned on a third dataset with demographics information for targets of a marketing campaign for the company, and use a model to predict which individuals are most likely to convert into becoming customers for the company. The data that you will use has been provided by our partners at Bertelsmann Arvato Analytics, and represents a real-life data science task.

If you completed the first term of this program, you will be familiar with the first part of this project, from the unsupervised learning project. The versions of those two datasets used in this project will include many more features and has not been pre-cleaned. You are also free to choose whatever approach you'd like to analyzing the data rather than follow pre-determined steps. In your work on this project, make sure that you carefully document your steps and decisions, since your main deliverable for this project will be a blog post reporting your findings.

In [2]:
# import libraries here; add more as necessary
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# magic word for producing visualizations in notebook
%matplotlib inline

## Part 0: Get to Know the Data

There are four data files associated with this project:

- `Udacity_AZDIAS_052018.csv`: Demographics data for the general population of Germany; 891 211 persons (rows) x 366 features (columns).
- `Udacity_CUSTOMERS_052018.csv`: Demographics data for customers of a mail-order company; 191 652 persons (rows) x 369 features (columns).
- `Udacity_MAILOUT_052018_TRAIN.csv`: Demographics data for individuals who were targets of a marketing campaign; 42 982 persons (rows) x 367 (columns).
- `Udacity_MAILOUT_052018_TEST.csv`: Demographics data for individuals who were targets of a marketing campaign; 42 833 persons (rows) x 366 (columns).

Each row of the demographics files represents a single person, but also includes information outside of individuals, including information about their household, building, and neighborhood. Use the information from the first two files to figure out how customers ("CUSTOMERS") are similar to or differ from the general population at large ("AZDIAS"), then use your analysis to make predictions on the other two files ("MAILOUT"), predicting which recipients are most likely to become a customer for the mail-order company.

The "CUSTOMERS" file contains three extra columns ('CUSTOMER_GROUP', 'ONLINE_PURCHASE', and 'PRODUCT_GROUP'), which provide broad information about the customers depicted in the file. The original "MAILOUT" file included one additional column, "RESPONSE", which indicated whether or not each recipient became a customer of the company. For the "TRAIN" subset, this column has been retained, but in the "TEST" subset it has been removed; it is against that withheld column that your final predictions will be assessed in the Kaggle competition.

Otherwise, all of the remaining columns are the same between the three data files. For more information about the columns depicted in the files, you can refer to two Excel spreadsheets provided in the workspace. [One of them](./DIAS Information Levels - Attributes 2017.xlsx) is a top-level list of attributes and descriptions, organized by informational category. [The other](./DIAS Attributes - Values 2017.xlsx) is a detailed mapping of data values for each feature in alphabetical order.

In the below cell, we've provided some initial code to load in the first two datasets. Note for all of the `.csv` data files in this project that they're semicolon (`;`) delimited, so an additional argument in the [`read_csv()`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html) call has been included to read in the data properly. Also, considering the size of the datasets, it may take some time for them to load completely.

You'll notice when the data is loaded in that a warning message will immediately pop up. Before you really start digging into the modeling and analysis, you're going to need to perform some cleaning. Take some time to browse the structure of the data and look over the informational spreadsheets to understand the data values. Make some decisions on which features to keep, which features to drop, and if any revisions need to be made on data formats. It'll be a good idea to create a function with pre-processing steps, since you'll need to clean all of the datasets before you work with them.

In [3]:
# load in the data
azdias = pd.read_csv('../../data/Term2/capstone/arvato_data/Udacity_AZDIAS_052018.csv', sep=';')
#customers = pd.read_csv('../../data/Term2/capstone/arvato_data/Udacity_CUSTOMERS_052018.csv', sep=';')

/opt/conda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (18,19) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
azdias

,LNR,AGER_TYP,AKT_DAT_KL,ALTER_HH,ALTER_KIND1,ALTER_KIND2,ALTER_KIND3,ALTER_KIND4,ALTERSKATEGORIE_FEIN,ANZ_HAUSHALTE_AKTIV,...,VHN,VK_DHT4A,VK_DISTANZ,VK_ZG11,W_KEIT_KIND_HH,WOHNDAUER_2008,WOHNLAGE,ZABEOTYP,ANREDE_KZ,ALTERSKATEGORIE_GROB
0,910215,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,1,2
1,910220,-1,9.0,0.0,NaN,NaN,NaN,NaN,21.0,11.0,...,4.0,8.0,11.0,10.0,3.0,9.0,4.0,5,2,1
2,910225,-1,9.0,17.0,NaN,NaN,NaN,NaN,17.0,10.0,...,2.0,9.0,9.0,6.0,3.0,9.0,2.0,5,2,3
3,910226,2,1.0,13.0,NaN,NaN,NaN,NaN,13.0,1.0,...,0.0,7.0,10.0,11.0,NaN,9.0,7.0,3,2,4
4,910241,-1,1.0,20.0,NaN,NaN,NaN,NaN,14.0,3.0,...,2.0,3.0,5.0,4.0,2.0,9.0,3.0,4,1,3
5,910244,3,1.0,10.0,NaN,NaN,NaN,NaN,10.0,5.0,...,2.0,10.0,7.0,4.0,6.0,9.0,7.0,4,2,1
6,910248,-1,9.0,0.0,NaN,NaN,NaN,NaN,NaN,4.0,...,2.0,7.0,10.0,10.0,3.0,9.0,5.0,4,2,2
7,910261,-1,1.0,14.0,NaN,NaN,NaN,NaN,14.0,6.0,...,2.0,10.0,12.0,9.0,5.0,9.0,1.0,1,1,1
8,645145,-1,9.0,16.0,NaN,NaN,NaN,NaN,16.0,2.0,...,4.0,8.0,11.0,8.0,5.0,8.0,1.0,6,1,3
9,645153,-1,5.0,17.0,NaN,NaN,NaN,NaN,17.0,9.0,...,4.0,1.0,1.0,1.0,4.0,3.0,7.0,4,2,3
10,645165,0,1.0,10.0,NaN,NaN,NaN,NaN,10.0,6.0,...,4.0,8.0,11.0,10.0,6.0,9.0,5.0,3,2,3
11,645169,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,1,2
12,612558,-1,5.0,21.0,NaN,NaN,NaN,NaN,14.0,1.0,...,4.0,3.0,5.0,3.0,6.0,4.0,3.0,1,1,3
13,612561,-1,8.0,20.0,NaN,NaN,NaN,NaN,20.0,2.0,...,NaN,3.0,6.0,8.0,6.0,3.0,5.0,5,2,1
14,612565,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,1,3
15,612569,1,9.0,11.0,NaN,NaN,NaN,NaN,11.0,1.0,...,4.0,6.0,6.0,3.0,6.0,4.0,3.0,3,2,4
16,612574,-1,1.0,19.0,NaN,NaN,NaN,NaN,19.0,0.0,...,1.0,6.0,9.0,8.0,NaN,3.0,7.0,5,2,1
17,612577,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,1,2
18,612586,-1,9.0,0.0,NaN,NaN,NaN,NaN,NaN,2.0,...,0.0,8.0,11.0,10.0,0.0,5.0,2.0,4,2,2
19,612592,-1,9.0,0.0,NaN,NaN,NaN,NaN,NaN,1.0,...,4.0,8.0,9.0,6.0,5.0,6.0,1.0,2,1,3
20,612594,-1,7.0,0.0,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,8.0,11.0,10.0,3.0,4.0,5.0,3,2,2
21,612595,-1,9.0,0.0,NaN,NaN,NaN,NaN,NaN,2.0,...,2.0,9.0,11.0,8.0,5.0,9.0,4.0,4,1,2
22,612606,-1,8.0,0.0,NaN,NaN,NaN,NaN,NaN,14.0,...,4.0,6.0,9.0,7.0,6.0,4.0,4.0,4,1,1
23,612609,-1,6.0,16.0,NaN,NaN,NaN,NaN,NaN,1.0,...,2.0,3.0,6.0,8.0,3.0,2.0,3.0,4,1,3
24,703164,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,2,3
25,703182,-1,1.0,20.0,NaN,NaN,NaN,NaN,20.0,1.0,...,2.0,6.0,9.0,7.0,NaN,3.0,7.0,5,1,1
26,714262,-1,1.0,0.0,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,7.0,9.0,6.0,3.0,3.0,7.0,1,1,3
27,714263,-1,6.0,16.0,17.0,NaN,NaN,NaN,16.0,6.0,...,3.0,4.0,7.0,5.0,1.0,3.0,3.0,4,1,3
28,714265,-1,9.0,15.0,NaN,NaN,NaN,NaN,15.0,3.0,...,3.0,8.0,11.0,8.0,5.0,8.0,5.0,6,1,3
29,714278,2,1.0,11.0,NaN,NaN,NaN,NaN,11.0,1.0,...,0.0,9.0,12.0,9.0,6.0,8.0,3.0,1,2,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
891191,380331,1,1.0,10.0,NaN,NaN,NaN,NaN,10.0,3.0,...,3.0,1.0,2.0,1.0,6.0,8.0,7.0,3,2,4
891192,706687,-1,9.0,20.0,NaN,NaN,NaN,NaN,NaN,6.0,...,4.0,8.0,11.0,9.0,6.0,9.0,5.0,4,2,1
891193,706689,2,1.0,13.0,NaN,NaN,NaN,NaN,11.0,6.0,...,2.0,5.0,7.0,4.0,4.0,9.0,5.0,4,1,4
891194,706692,-1,1.0,15.0,NaN,NaN,NaN,NaN,15.0,2.0,...,2.0,3.0,5.0,3.0,4.0,9.0,2.0,4,1,3
891195,706733,2,1.0,0.0,NaN,NaN,NaN,NaN,13.0,9.0,...,1.0,3.0,5.0,3.0,3.0,9.0,2.0,3,2,4
891196,706754,-1,1.0,17.0,10.0,15.0,NaN,NaN,17.0,8.0,...,4.0,3.0,6.0,6.0,1.0,8.0,4.0,4,2,2
891197,706768,-1,1.0,15.0,NaN,NaN,NaN,NaN,15.0,3.0,...,3.0,5.0,8.0,9.0,4.0,9.0,2.0,4,2,3
891198,714930,-1,9.0,20.0,NaN,NaN,NaN,NaN,20.0,1.0,...,1.0,7.0,9.0,6.0,6.0,9.0,3.0,4,1,3
891199,814493,-1,9.0,0.0,NaN,NaN,NaN,NaN,NaN,13.0,...,3.0,9.0,12.0,9.0,5.0,9.0,4.0,4,1,2
891200,814520,-1,9.0,18.0,NaN,NaN,NaN,NaN,NaN,12.0,...,1.0,6.0,9.0,6.0,2.0,9.0,4.0,4,2,1
891201,814532,-1,1.0,16.0,NaN,NaN,NaN,NaN,16.0,11.0,...,1.0,5.0,8.0,6.0,4.0,9.0,3.0,4,1,3
891202,814546,-1,1.0,0.0,NaN,NaN,NaN,NaN,NaN,20.0,...,3.0,5.0,8.0,10.0,4.0,4.0,4.0,4,2,2
891203,814549,-1,9.0,0.0,NaN,NaN,NaN,NaN,NaN,19.0,...,NaN,8.0,11.0,9.0,NaN,6.0,1.0,3,2,4
891204,814552,-1,1.0,16.0,NaN,NaN,NaN,NaN,16.0,2.0,...,1.0,4.0,7.0,6.0,2.0,9.0,3.0,1,1,3
891205,814588,1,1.0,10.0,NaN,NaN,NaN,NaN,10.0,4.0,...,2.0,7.0,9.0,6.0,6.0,9.0,5.0,3,1,4
891206,825703,-1,9.0,19.0,NaN,NaN,NaN,NaN,18.0,2.0,...,2.0,10.0,12.0,9.0,3.0,9.0,2.0,5,2,1
891207,825716,1,1.0,8.0,NaN,NaN,NaN,NaN,8.0,2.0,...,2.0,1.0,1.0,1.0,6.0,9.0,4.0,3,2,3
891208,825717,-1,1.0,15.0,NaN,NaN,NaN,NaN,14.0,1.0,...,0.0,5.0,8.0,11.0,0.0,9.0,7.0,1,1,4
891209,825726,-1,9.0,0.0,NaN,NaN,NaN,NaN,17.0,4.0,...,3.0,7.0,10.0,8.0,3.0,9.0,3.0,5,2,1
891210,825729,-1,1.0,0.0,NaN,NaN,NaN,NaN,NaN,24.0,...,2.0,6.0,9.0,6.0,5.0,2.0,3.0,3,1,3
891211,825731,-1,9.0,14.0,NaN,NaN,NaN,NaN,14.0,6.0,...,4.0,9.0,11.0,8.0,6.0,9.0,3.0,6,1,3
891212,825735,-1,9.0,15.0,NaN,NaN,NaN,NaN,NaN,13.0,...,3.0,10.0,10.0,7.0,6.0,8.0,3.0,3,1,4
891213,825742,-1,1.0,21.0,17.0,NaN,NaN,NaN,15.0,4.0,...,2.0,1.0,1.0,1.0,1.0,9.0,4.0,4,2,4
891214,825745,-1,9.0,17.0,NaN,NaN,NaN,NaN,17.0,6.0,...,2.0,9.0,12.0,10.0,4.0,9.0,3.0,5,2,1
891215,825758,-1,9.0,0.0,NaN,NaN,NaN,NaN,NaN,8.0,...,1.0,7.0,10.0,10.0,3.0,9.0,3.0,4,2,2
891216,825761,-1,5.0,17.0,NaN,NaN,NaN,NaN,17.0,15.0,...,2.0,4.0,7.0,8.0,3.0,4.0,3.0,4,2,3
891217,825771,-1,9.0,16.0,NaN,NaN,NaN,NaN,16.0,11.0,...,4.0,6.0,9.0,6.0,6.0,9.0,5.0,6,1,2
891218,825772,-1,1.0,17.0,NaN,NaN,NaN,NaN,17.0,3.0,...,2.0,7.0,10.0,8.0,NaN,5.0,7.0,4,2,2
891219,825776,-1,9.0,0.0,17.0,NaN,NaN,NaN,20.0,7.0,...,4.0,9.0,8.0,5.0,1.0,9.0,5.0,5,1,1
891220,825787,-1,1.0,0.0,NaN,NaN,NaN,NaN,NaN,10.0,...,3.0,8.0,10.0,7.0,6.0,3.0,4.0,3,1,4

In [9]:
azdias.head()

,LNR,AGER_TYP,AKT_DAT_KL,ALTER_HH,ALTER_KIND1,ALTER_KIND2,ALTER_KIND3,ALTER_KIND4,ALTERSKATEGORIE_FEIN,ANZ_HAUSHALTE_AKTIV,...,VHN,VK_DHT4A,VK_DISTANZ,VK_ZG11,W_KEIT_KIND_HH,WOHNDAUER_2008,WOHNLAGE,ZABEOTYP,ANREDE_KZ,ALTERSKATEGORIE_GROB
0,910215,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,1,2
1,910220,-1,9.0,0.0,NaN,NaN,NaN,NaN,21.0,11.0,...,4.0,8.0,11.0,10.0,3.0,9.0,4.0,5,2,1
2,910225,-1,9.0,17.0,NaN,NaN,NaN,NaN,17.0,10.0,...,2.0,9.0,9.0,6.0,3.0,9.0,2.0,5,2,3
3,910226,2,1.0,13.0,NaN,NaN,NaN,NaN,13.0,1.0,...,0.0,7.0,10.0,11.0,NaN,9.0,7.0,3,2,4
4,910241,-1,1.0,20.0,NaN,NaN,NaN,NaN,14.0,3.0,...,2.0,3.0,5.0,4.0,2.0,9.0,3.0,4,1,3

In [10]:
azdias.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891221 entries, 0 to 891220
Columns: 366 entries, LNR to ALTERSKATEGORIE_GROB
dtypes: float64(267), int64(93), object(6)
memory usage: 2.4+ GB

In [11]:
customers

,LNR,AGER_TYP,AKT_DAT_KL,ALTER_HH,ALTER_KIND1,ALTER_KIND2,ALTER_KIND3,ALTER_KIND4,ALTERSKATEGORIE_FEIN,ANZ_HAUSHALTE_AKTIV,...,VK_ZG11,W_KEIT_KIND_HH,WOHNDAUER_2008,WOHNLAGE,ZABEOTYP,PRODUCT_GROUP,CUSTOMER_GROUP,ONLINE_PURCHASE,ANREDE_KZ,ALTERSKATEGORIE_GROB
0,9626,2,1.0,10.0,NaN,NaN,NaN,NaN,10.0,1.0,...,2.0,6.0,9.0,7.0,3,COSMETIC_AND_FOOD,MULTI_BUYER,0,1,4
1,9628,-1,9.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,0.0,9.0,NaN,3,FOOD,SINGLE_BUYER,0,1,4
2,143872,-1,1.0,6.0,NaN,NaN,NaN,NaN,0.0,1.0,...,11.0,6.0,9.0,2.0,3,COSMETIC_AND_FOOD,MULTI_BUYER,0,2,4
3,143873,1,1.0,8.0,NaN,NaN,NaN,NaN,8.0,0.0,...,2.0,NaN,9.0,7.0,1,COSMETIC,MULTI_BUYER,0,1,4
4,143874,-1,1.0,20.0,NaN,NaN,NaN,NaN,14.0,7.0,...,4.0,2.0,9.0,3.0,1,FOOD,MULTI_BUYER,0,1,3
5,143888,1,1.0,11.0,NaN,NaN,NaN,NaN,10.0,1.0,...,1.0,6.0,9.0,1.0,2,COSMETIC_AND_FOOD,MULTI_BUYER,0,1,3
6,143904,2,1.0,10.0,NaN,NaN,NaN,NaN,10.0,1.0,...,2.0,6.0,9.0,7.0,1,COSMETIC_AND_FOOD,MULTI_BUYER,0,1,4
7,143910,1,1.0,10.0,NaN,NaN,NaN,NaN,9.0,1.0,...,1.0,6.0,9.0,3.0,3,FOOD,SINGLE_BUYER,0,1,4
8,102160,2,3.0,5.0,NaN,NaN,NaN,NaN,4.0,74.0,...,9.0,6.0,3.0,4.0,3,COSMETIC,MULTI_BUYER,0,2,4
9,102173,1,1.0,20.0,NaN,NaN,NaN,NaN,13.0,1.0,...,4.0,2.0,9.0,5.0,1,COSMETIC,MULTI_BUYER,0,1,3
10,102184,-1,7.0,14.0,NaN,NaN,NaN,NaN,14.0,NaN,...,7.0,0.0,3.0,NaN,3,COSMETIC,MULTI_BUYER,1,2,3
11,102185,1,1.0,10.0,NaN,NaN,NaN,NaN,10.0,1.0,...,2.0,6.0,3.0,4.0,1,FOOD,SINGLE_BUYER,0,1,4
12,102227,-1,1.0,21.0,NaN,NaN,NaN,NaN,14.0,1.0,...,5.0,4.0,9.0,7.0,1,FOOD,SINGLE_BUYER,0,1,4
13,102230,-1,1.0,15.0,8.0,NaN,NaN,NaN,14.0,1.0,...,5.0,1.0,9.0,4.0,4,FOOD,SINGLE_BUYER,1,1,3
14,102239,2,1.0,6.0,NaN,NaN,NaN,NaN,6.0,9.0,...,3.0,6.0,7.0,3.0,4,COSMETIC_AND_FOOD,MULTI_BUYER,0,2,4
15,110278,2,5.0,17.0,NaN,NaN,NaN,NaN,12.0,1.0,...,2.0,2.0,9.0,2.0,1,COSMETIC_AND_FOOD,MULTI_BUYER,1,1,3
16,110279,1,1.0,0.0,NaN,NaN,NaN,NaN,10.0,1.0,...,1.0,1.0,9.0,2.0,1,COSMETIC,SINGLE_BUYER,0,1,4
17,110305,-1,7.0,20.0,NaN,NaN,NaN,NaN,19.0,1.0,...,1.0,2.0,9.0,2.0,1,COSMETIC,MULTI_BUYER,0,1,4
18,110306,-1,1.0,17.0,NaN,NaN,NaN,NaN,17.0,17.0,...,6.0,5.0,9.0,3.0,4,COSMETIC,SINGLE_BUYER,1,1,2
19,110322,-1,1.0,0.0,NaN,NaN,NaN,NaN,14.0,12.0,...,6.0,6.0,8.0,3.0,3,FOOD,SINGLE_BUYER,0,2,4
20,110327,-1,1.0,0.0,NaN,NaN,NaN,NaN,15.0,1.0,...,2.0,6.0,9.0,2.0,1,FOOD,SINGLE_BUYER,0,1,4
21,110328,2,7.0,11.0,NaN,NaN,NaN,NaN,11.0,29.0,...,7.0,6.0,5.0,7.0,4,FOOD,SINGLE_BUYER,0,1,4
22,110336,2,1.0,8.0,NaN,NaN,NaN,NaN,8.0,2.0,...,5.0,6.0,9.0,7.0,3,FOOD,SINGLE_BUYER,0,2,1
23,110344,-1,7.0,14.0,NaN,NaN,NaN,NaN,14.0,45.0,...,7.0,5.0,7.0,4.0,6,COSMETIC,SINGLE_BUYER,1,1,3
24,110356,2,1.0,19.0,NaN,NaN,NaN,NaN,10.0,2.0,...,1.0,2.0,9.0,3.0,3,COSMETIC_AND_FOOD,MULTI_BUYER,0,2,4
25,110357,-1,1.0,21.0,12.0,NaN,NaN,NaN,15.0,1.0,...,4.0,1.0,9.0,7.0,1,COSMETIC_AND_FOOD,MULTI_BUYER,0,2,3
26,5538,1,1.0,9.0,NaN,NaN,NaN,NaN,9.0,2.0,...,4.0,4.0,9.0,7.0,3,COSMETIC,MULTI_BUYER,0,2,4
27,5545,-1,2.0,19.0,NaN,NaN,NaN,NaN,NaN,1.0,...,1.0,2.0,9.0,1.0,1,COSMETIC,SINGLE_BUYER,0,1,3
28,5573,2,1.0,8.0,NaN,NaN,NaN,NaN,8.0,10.0,...,1.0,6.0,9.0,5.0,3,COSMETIC,MULTI_BUYER,0,2,4
29,5574,0,1.0,12.0,NaN,NaN,NaN,NaN,12.0,14.0,...,3.0,6.0,9.0,3.0,3,FOOD,SINGLE_BUYER,0,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191622,141330,2,1.0,8.0,NaN,NaN,NaN,NaN,8.0,2.0,...,1.0,6.0,9.0,7.0,3,COSMETIC_AND_FOOD,MULTI_BUYER,0,1,4
191623,141335,1,1.0,11.0,NaN,NaN,NaN,NaN,11.0,1.0,...,2.0,4.0,9.0,1.0,1,COSMETIC_AND_FOOD,MULTI_BUYER,0,1,4
191624,141336,1,1.0,13.0,NaN,NaN,NaN,NaN,13.0,1.0,...,2.0,5.0,9.0,1.0,1,COSMETIC,MULTI_BUYER,0,1,4
191625,153439,2,1.0,10.0,NaN,NaN,NaN,NaN,10.0,1.0,...,3.0,6.0,9.0,3.0,3,FOOD,SINGLE_BUYER,0,2,4
191626,153440,-1,1.0,14.0,NaN,NaN,NaN,NaN,14.0,7.0,...,7.0,4.0,4.0,2.0,4,COSMETIC_AND_FOOD,MULTI_BUYER,0,1,2
191627,153447,3,1.0,9.0,NaN,NaN,NaN,NaN,9.0,11.0,...,1.0,6.0,9.0,4.0,3,COSMETIC_AND_FOOD,MULTI_BUYER,0,2,3
191628,153455,1,1.0,12.0,NaN,NaN,NaN,NaN,12.0,1.0,...,3.0,6.0,9.0,1.0,3,COSMETIC,SINGLE_BUYER,0,1,4
191629,153475,2,9.0,8.0,NaN,NaN,NaN,NaN,8.0,97.0,...,3.0,3.0,4.0,2.0,3,COSMETIC,MULTI_BUYER,0,2,4
191630,153477,2,1.0,10.0,NaN,NaN,NaN,NaN,10.0,1.0,...,3.0,6.0,8.0,3.0,3,COSMETIC,SINGLE_BUYER,0,1,3
191631,153481,2,1.0,9.0,NaN,NaN,NaN,NaN,9.0,24.0,...,1.0,NaN,9.0,3.0,3,COSMETIC_AND_FOOD,MULTI_BUYER,0,2,4
191632,153525,0,1.0,18.0,NaN,NaN,NaN,NaN,13.0,3.0,...,3.0,2.0,9.0,7.0,1,FOOD,SINGLE_BUYER,0,1,3
191633,153551,1,1.0,20.0,NaN,NaN,NaN,NaN,12.0,1.0,...,2.0,3.0,9.0,3.0,1,FOOD,SINGLE_BUYER,0,1,4
191634,55811,2,1.0,18.0,NaN,NaN,NaN,NaN,12.0,2.0,...,1.0,2.0,9.0,7.0,3,COSMETIC_AND_FOOD,MULTI_BUYER,1,1,3
191635,55815,2,1.0,14.0,NaN,NaN,NaN,NaN,8.0,1.0,...,3.0,6.0,9.0,3.0,3,COSMETIC_AND_FOOD,MULTI_BUYER,0,2,4
191636,55817,2,1.0,8.0,NaN,NaN,NaN,NaN,7.0,1.0,...,1.0,6.0,9.0,1.0,2,COSMETIC_AND_FOOD,MULTI_BUYER,0,1,4
191637,55823,-1,1.0,21.0,NaN,NaN,NaN,NaN,14.0,1.0,...,2.0,4.0,9.0,3.0,1,FOOD,SINGLE_BUYER,0,2,3
191638,55832,1,1.0,12.0,NaN,NaN,NaN,NaN,11.0,20.0,...,4.0,6.0,9.0,3.0,3,COSMETIC_AND_FOOD,MULTI_BUYER,0,1,4
191639,55834,-1,3.0,15.0,NaN,NaN,NaN,NaN,15.0,2.0,...,3.0,3.0,7.0,5.0,1,COSMETIC_AND_FOOD,MULTI_BUYER,0,1,3
191640,55835,3,1.0,19.0,NaN,NaN,NaN,NaN,13.0,3.0,...,2.0,5.0,9.0,2.0,1,COSMETIC,SINGLE_BUYER,0,1,3
191641,55838,1,1.0,9.0,NaN,NaN,NaN,NaN,9.0,1.0,...,3.0,6.0,9.0,7.0,1,COSMETIC_AND_FOOD,MULTI_BUYER,0,1,4
191642,154464,2,1.0,9.0,NaN,NaN,NaN,NaN,9.0,32.0,...,1.0,6.0,9.0,5.0,3,FOOD,SINGLE_BUYER,0,2,4
191643,154503,2,1.0,18.0,NaN,NaN,NaN,NaN,11.0,1.0,...,1.0,2.0,9.0,1.0,1,COSMETIC_AND_FOOD,MULTI_BUYER,0,1,4
191644,154513,2,2.0,13.0,NaN,NaN,NaN,NaN,13.0,7.0,...,2.0,4.0,9.0,3.0,3,COSMETIC_AND_FOOD,MULTI_BUYER,1,2,4
191645,154554,2,1.0,21.0,NaN,NaN,NaN,NaN,13.0,2.0,...,3.0,2.0,9.0,4.0,6,COSMETIC_AND_FOOD,MULTI_BUYER,1,1,4
191646,154559,3,1.0,13.0,NaN,NaN,NaN,NaN,13.0,5.0,...,1.0,6.0,9.0,4.0,3,FOOD,SINGLE_BUYER,0,2,2
191647,154561,1,1.0,9.0,NaN,NaN,NaN,NaN,9.0,1.0,...,5.0,6.0,9.0,1.0,3,COSMETIC_AND_FOOD,MULTI_BUYER,0,1,3
191648,154563,-1,2.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,...,4.0,NaN,9.0,3.0,3,COSMETIC,SINGLE_BUYER,0,2,4
191649,148813,2,1.0,15.0,NaN,NaN,NaN,NaN,10.0,1.0,...,5.0,3.0,9.0,3.0,3,COSMETIC_AND_FOOD,MULTI_BUYER,0,1,4
191650,148852,3,1.0,13.0,NaN,NaN,NaN,NaN,13.0,4.0,...,1.0,4.0,9.0,2.0,3,FOOD,SINGLE_BUYER,0,2,3
191651,148883,3,1.0,0.0,NaN,NaN,NaN,NaN,9.0,1.0,...,1.0,3.0,9.0,7.0,1,COSMETIC_AND_FOOD,MULTI_BUYER,0,1,2

In [12]:
dias_attribues = pd.read_excel('DIAS Attributes - Values 2017.xlsx')

In [13]:
dias_attribues.head()

   Unnamed: 0 Attribute         Description Value                     Meaning
0         NaN  AGER_TYP  best-ager typology    -1                     unknown
1         NaN       NaN                 NaN     0  no classification possible
2         NaN       NaN                 NaN     1             passive elderly
3         NaN       NaN                 NaN     2            cultural elderly
4         NaN       NaN                 NaN     3   experience-driven elderly

In [14]:
dias_attribues

,Unnamed: 0,Attribute,Description,Value,Meaning
0,NaN,AGER_TYP,best-ager typology,-1,unknown
1,NaN,NaN,NaN,0,no classification possible
2,NaN,NaN,NaN,1,passive elderly
3,NaN,NaN,NaN,2,cultural elderly
4,NaN,NaN,NaN,3,experience-driven elderly
5,NaN,ALTERSKATEGORIE_GROB,age classification through prename analysis,"-1, 0",unknown
6,NaN,NaN,NaN,1,< 30 years
7,NaN,NaN,NaN,2,30 - 45 years
8,NaN,NaN,NaN,3,46 - 60 years
9,NaN,NaN,NaN,4,> 60 years
10,NaN,NaN,NaN,9,uniformly distributed
11,NaN,ALTER_HH,main age within the household,0,unknown / no main age detectable
12,NaN,NaN,NaN,1,01.01.1895 bis 31.12.1899
13,NaN,NaN,NaN,2,01.01.1900 bis 31.12.1904
14,NaN,NaN,NaN,3,01.01.1905 bis 31.12.1909
15,NaN,NaN,NaN,4,01.01.1910 bis 31.12.1914
16,NaN,NaN,NaN,5,01.01.1915 bis 31.12.1919
17,NaN,NaN,NaN,6,01.01.1920 bis 31.12.1924
18,NaN,NaN,NaN,7,01.01.1925 bis 31.12.1929
19,NaN,NaN,NaN,8,01.01.1930 bis 31.12.1934
20,NaN,NaN,NaN,9,01.01.1935 bis 31.12.1939
21,NaN,NaN,NaN,10,01.01.1940 bis 31.12.1944
22,NaN,NaN,NaN,11,01.01.1945 bis 31.12.1949
23,NaN,NaN,NaN,12,01.01.1950 bis 31.12.1954
24,NaN,NaN,NaN,13,01.01.1955 bis 31.12.1959
25,NaN,NaN,NaN,14,01.01.1960 bis 31.12.1964
26,NaN,NaN,NaN,15,01.01.1965 bis 31.12.1969
27,NaN,NaN,NaN,16,01.01.1970 bis 31.12.1974
28,NaN,NaN,NaN,17,01.01.1975 bis 31.12.1979
29,NaN,NaN,NaN,18,01.01.1980 bis 31.12.1984
...,...,...,...,...,...
2228,NaN,NaN,NaN,9,length of residence more than 10 years
2229,NaN,WOHNLAGE,residential-area,-1,unknown
2230,NaN,NaN,NaN,0,no score calculated
2231,NaN,NaN,NaN,1,very good neighbourhood
2232,NaN,NaN,NaN,2,good neighbourhood
2233,NaN,NaN,NaN,3,average neighbourhood
2234,NaN,NaN,NaN,4,poor neighbourhood
2235,NaN,NaN,NaN,5,very poor neighbourhood
2236,NaN,NaN,NaN,7,rural neighbourhood
2237,NaN,NaN,NaN,8,new building in rural neighbourhood
2238,NaN,WACHSTUMSGEBIET_NB,growing area (population growth in the last 5 ...,"-1, 0",unknown
2239,NaN,NaN,NaN,1,very high influx
2240,NaN,NaN,NaN,2,high influx
2241,NaN,NaN,NaN,3,middle influx
2242,NaN,NaN,NaN,4,low influx
2243,NaN,NaN,NaN,5,development area
2244,NaN,W_KEIT_KIND_HH,likelihood of a child present in this household,"-1, 0",unknown
2245,NaN,NaN,NaN,1,most likely
2246,NaN,NaN,NaN,2,very likely
2247,NaN,NaN,NaN,3,likely
2248,NaN,NaN,NaN,4,average
2249,NaN,NaN,NaN,5,unlikely
2250,NaN,NaN,NaN,6,very unlikely
2251,NaN,ZABEOTYP,typification of energy consumers,"-1, 9",unknown
2252,NaN,NaN,NaN,1,green
2253,NaN,NaN,NaN,2,smart
2254,NaN,NaN,NaN,3,fair supplied
2255,NaN,NaN,NaN,4,price driven
2256,NaN,NaN,NaN,5,seeking orientation
2257,NaN,NaN,NaN,6,indifferent

In [15]:
dias_attributes = dias_attribues.drop('Unnamed: 0', axis = 1)

In [16]:
dias_attributes_ffil = dias_attributes.ffill()

In [17]:
dias_attributes_ffil.head()

  Attribute         Description Value                     Meaning
0  AGER_TYP  best-ager typology    -1                     unknown
1  AGER_TYP  best-ager typology     0  no classification possible
2  AGER_TYP  best-ager typology     1             passive elderly
3  AGER_TYP  best-ager typology     2            cultural elderly
4  AGER_TYP  best-ager typology     3   experience-driven elderly

In [18]:
dias_attributes_ffil.dtypes

Attribute      object
Description    object
Value          object
Meaning        object
dtype: object

In [37]:
dias_attributes_ffil

,Attribute,Description,Value,Meaning
0,AGER_TYP,best-ager typology,-1,unknown
1,AGER_TYP,best-ager typology,0,no classification possible
2,AGER_TYP,best-ager typology,1,passive elderly
3,AGER_TYP,best-ager typology,2,cultural elderly
4,AGER_TYP,best-ager typology,3,experience-driven elderly
5,ALTERSKATEGORIE_GROB,age classification through prename analysis,"-1, 0",unknown
6,ALTERSKATEGORIE_GROB,age classification through prename analysis,1,< 30 years
7,ALTERSKATEGORIE_GROB,age classification through prename analysis,2,30 - 45 years
8,ALTERSKATEGORIE_GROB,age classification through prename analysis,3,46 - 60 years
9,ALTERSKATEGORIE_GROB,age classification through prename analysis,4,> 60 years
10,ALTERSKATEGORIE_GROB,age classification through prename analysis,9,uniformly distributed
11,ALTER_HH,main age within the household,0,unknown / no main age detectable
12,ALTER_HH,main age within the household,1,01.01.1895 bis 31.12.1899
13,ALTER_HH,main age within the household,2,01.01.1900 bis 31.12.1904
14,ALTER_HH,main age within the household,3,01.01.1905 bis 31.12.1909
15,ALTER_HH,main age within the household,4,01.01.1910 bis 31.12.1914
16,ALTER_HH,main age within the household,5,01.01.1915 bis 31.12.1919
17,ALTER_HH,main age within the household,6,01.01.1920 bis 31.12.1924
18,ALTER_HH,main age within the household,7,01.01.1925 bis 31.12.1929
19,ALTER_HH,main age within the household,8,01.01.1930 bis 31.12.1934
20,ALTER_HH,main age within the household,9,01.01.1935 bis 31.12.1939
21,ALTER_HH,main age within the household,10,01.01.1940 bis 31.12.1944
22,ALTER_HH,main age within the household,11,01.01.1945 bis 31.12.1949
23,ALTER_HH,main age within the household,12,01.01.1950 bis 31.12.1954
24,ALTER_HH,main age within the household,13,01.01.1955 bis 31.12.1959
25,ALTER_HH,main age within the household,14,01.01.1960 bis 31.12.1964
26,ALTER_HH,main age within the household,15,01.01.1965 bis 31.12.1969
27,ALTER_HH,main age within the household,16,01.01.1970 bis 31.12.1974
28,ALTER_HH,main age within the household,17,01.01.1975 bis 31.12.1979
29,ALTER_HH,main age within the household,18,01.01.1980 bis 31.12.1984
...,...,...,...,...
2228,WOHNDAUER_2008,length of residence,9,length of residence more than 10 years
2229,WOHNLAGE,residential-area,-1,unknown
2230,WOHNLAGE,residential-area,0,no score calculated
2231,WOHNLAGE,residential-area,1,very good neighbourhood
2232,WOHNLAGE,residential-area,2,good neighbourhood
2233,WOHNLAGE,residential-area,3,average neighbourhood
2234,WOHNLAGE,residential-area,4,poor neighbourhood
2235,WOHNLAGE,residential-area,5,very poor neighbourhood
2236,WOHNLAGE,residential-area,7,rural neighbourhood
2237,WOHNLAGE,residential-area,8,new building in rural neighbourhood
2238,WACHSTUMSGEBIET_NB,growing area (population growth in the last 5 ...,"-1, 0",unknown
2239,WACHSTUMSGEBIET_NB,growing area (population growth in the last 5 ...,1,very high influx
2240,WACHSTUMSGEBIET_NB,growing area (population growth in the last 5 ...,2,high influx
2241,WACHSTUMSGEBIET_NB,growing area (population growth in the last 5 ...,3,middle influx
2242,WACHSTUMSGEBIET_NB,growing area (population growth in the last 5 ...,4,low influx
2243,WACHSTUMSGEBIET_NB,growing area (population growth in the last 5 ...,5,development area
2244,W_KEIT_KIND_HH,likelihood of a child present in this household,"-1, 0",unknown
2245,W_KEIT_KIND_HH,likelihood of a child present in this household,1,most likely
2246,W_KEIT_KIND_HH,likelihood of a child present in this household,2,very likely
2247,W_KEIT_KIND_HH,likelihood of a child present in this household,3,likely
2248,W_KEIT_KIND_HH,likelihood of a child present in this household,4,average
2249,W_KEIT_KIND_HH,likelihood of a child present in this household,5,unlikely
2250,W_KEIT_KIND_HH,likelihood of a child present in this household,6,very unlikely
2251,ZABEOTYP,typification of energy consumers,"-1, 9",unknown
2252,ZABEOTYP,typification of energy consumers,1,green
2253,ZABEOTYP,typification of energy consumers,2,smart
2254,ZABEOTYP,typification of energy consumers,3,fair supplied
2255,ZABEOTYP,typification of energy consumers,4,price driven
2256,ZABEOTYP,typification of energy consumers,5,seeking orientation
2257,ZABEOTYP,typification of energy consumers,6,indifferent

In [20]:
dias_attributes_ffil_withcomma = dias_attributes_ffil[dias_attributes_ffil['Value'].str.contains(",", na = False)]

In [21]:
dias_attributes_ffil_withcomma.head()

,Attribute,Description,Value,Meaning
5,ALTERSKATEGORIE_GROB,age classification through prename analysis,"-1, 0",unknown
33,ANREDE_KZ,gender,"-1, 0",unknown
697,GEBAEUDETYP,type of building (residential or commercial),"-1, 0",unknown
724,GEOSCORE_KLS7,microgeographical risk index concerning popula...,"-1, 0",unknown
734,HAUSHALTSSTRUKTUR,"structure of the household (single-hh, couple ...","-1, 0",unknown

In [22]:
dias_attributes_ffil_withcomma.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 91 entries, 5 to 2251
Data columns (total 4 columns):
Attribute      91 non-null object
Description    91 non-null object
Value          91 non-null object
Meaning        91 non-null object
dtypes: object(4)
memory usage: 3.6+ KB

In [23]:
dias_attributes_ffil_withcomma[['Value_1','Value_2']] = dias_attributes_ffil_withcomma['Value'].str.split(',',expand=True)

/opt/conda/lib/python3.6/site-packages/pandas/core/frame.py:3140: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[k1] = value[k2]

In [24]:
dias_attributes_ffil_withcomma.head()

,Attribute,Description,Value,Meaning,Value_1,Value_2
5,ALTERSKATEGORIE_GROB,age classification through prename analysis,"-1, 0",unknown,-1,0
33,ANREDE_KZ,gender,"-1, 0",unknown,-1,0
697,GEBAEUDETYP,type of building (residential or commercial),"-1, 0",unknown,-1,0
724,GEOSCORE_KLS7,microgeographical risk index concerning popula...,"-1, 0",unknown,-1,0
734,HAUSHALTSSTRUKTUR,"structure of the household (single-hh, couple ...","-1, 0",unknown,-1,0

In [25]:
dias_attributes_ffil_withcomma_copy = dias_attributes_ffil_withcomma.copy

In [26]:
dias_attributes_ffil_withcomma_clean = dias_attributes_ffil_withcomma.drop(columns =["Value", "Value_2"])

In [27]:
dias_attributes_ffil_withcomma_copy = dias_attributes_ffil_withcomma.drop(columns =["Value", "Value_1"])

In [28]:
dias_attributes_ffil_withcomma_copy.head()

,Attribute,Description,Meaning,Value_2
5,ALTERSKATEGORIE_GROB,age classification through prename analysis,unknown,0
33,ANREDE_KZ,gender,unknown,0
697,GEBAEUDETYP,type of building (residential or commercial),unknown,0
724,GEOSCORE_KLS7,microgeographical risk index concerning popula...,unknown,0
734,HAUSHALTSSTRUKTUR,"structure of the household (single-hh, couple ...",unknown,0

In [29]:
dias_attributes_ffil_withcomma_copy.columns = ['Attribute', 'Description','Meaning', 'Value']

In [30]:
dias_attributes_ffil_withcomma_clean.columns = ['Attribute', 'Description','Meaning', 'Value']

In [31]:
multiple_values_df = [dias_attributes_ffil_withcomma_copy,dias_attributes_ffil_withcomma_clean]

In [32]:
concatenated_multiple_values_df = pd.concat(multiple_values_df)

In [33]:
concatenated_multiple_values_df

,Attribute,Description,Meaning,Value
5,ALTERSKATEGORIE_GROB,age classification through prename analysis,unknown,0
33,ANREDE_KZ,gender,unknown,0
697,GEBAEUDETYP,type of building (residential or commercial),unknown,0
724,GEOSCORE_KLS7,microgeographical risk index concerning popula...,unknown,0
734,HAUSHALTSSTRUKTUR,"structure of the household (single-hh, couple ...",unknown,0
749,HH_EINKOMMEN_SCORE,estimated household net income,unknown,0
765,KBA05_ALTER1,share of car owners less than 31 years old,unknown,9
771,KBA05_ALTER2,share of car owners inbetween 31 and 45 years ...,unknown,9
777,KBA05_ALTER3,share of car owners inbetween 45 and 60 years ...,unknown,9
783,KBA05_ALTER4,share of cars owners elder than 61 years,unknown,9
790,KBA05_ANHANG,share of trailers in the microcell,unknown,9
821,KBA05_AUTOQUOT,share of cars per household,unknown,9
822,KBA05_BAUMAX,most common building-type within the cell,unknown,0
828,KBA05_CCM1,share of cars with less than 1399ccm,unknown,9
834,KBA05_CCM2,share of cars with 1400ccm to 1799 ccm,unknown,9
840,KBA05_CCM3,share of cars with 1800ccm to 2499 ccm,unknown,9
846,KBA05_CCM4,share of cars with more than 2499ccm,unknown,9
852,KBA05_DIESEL,share of cars with Diesel-engine in the microcell,unknown,9
858,KBA05_FRAU,share of female car owners,unknown,9
864,KBA05_GBZ,number of buildings in the microcell,unknown,0
870,KBA05_HERST1,"share of top German manufacturer (Mercedes, BMW)",unknown,9
877,KBA05_HERST2,share of Volkswagen-Cars (including Audi),unknown,9
884,KBA05_HERST3,share of Ford/Opel,unknown,9
891,KBA05_HERST4,"share of European manufacturer (e.g. Fiat, Peu...",unknown,9
898,KBA05_HERST5,"share of asian manufacturer (e.g. Toyota, Kia,...",unknown,9
905,KBA05_HERSTTEMP,development of the most common car manufacture...,unknown,9
911,KBA05_KRSAQUOT,share of cars per household (reffered to count...,unknown,9
917,KBA05_KRSHERST1,share of Mercedes/BMW (reffered to the county ...,unknown,9
923,KBA05_KRSHERST2,share of Volkswagen (reffered to the county av...,unknown,9
929,KBA05_KRSHERST3,share of Ford/Opel (reffered to the county ave...,unknown,9
...,...,...,...,...
1100,KBA05_VORB1,share of cars with one or two preowner,unknown,-1
1106,KBA05_VORB2,share of cars with more than two preowner,unknown,-1
1113,KBA05_ZUL1,share of cars built before 1994,unknown,-1
1119,KBA05_ZUL2,share of cars built between 1994 and 2000,unknown,-1
1125,KBA05_ZUL3,share of cars built between 2001 and 2002,unknown,-1
1132,KBA05_ZUL4,share of cars built from 2003 on,unknown,-1
1880,KKK,purchasing power,unknown,-1
1993,NATIONALITAET_KZ,nationaltity (scored by prename analysis),unknown,-1
2054,PRAEGENDE_JUGENDJAHRE,dominating movement in the person's youth (ava...,unknown,-1
2070,REGIOTYP,neighbourhood,unknown,-1
2083,RELAT_AB,share of unemployed in relation to the county ...,unknown,-1
2090,SEMIO_DOM,affinity indicating in what way the person is ...,unknown,-1
2098,SEMIO_ERL,affinity indicating in what way the person is ...,unknown,-1
2106,SEMIO_FAM,affinity indicating in what way the person is ...,unknown,-1
2114,SEMIO_KAEM,affinity indicating in what way the person is ...,unknown,-1
2122,SEMIO_KRIT,affinity indicating in what way the person is ...,unknown,-1
2130,SEMIO_KULT,affinity indicating in what way the person is ...,unknown,-1
2138,SEMIO_LUST,affinity indicating in what way the person is ...,unknown,-1
2146,SEMIO_MAT,affinity indicating in what way the person is ...,unknown,-1
2154,SEMIO_PFLICHT,affinity indicating in what way the person is ...,unknown,-1
2162,SEMIO_RAT,affinity indicating in what way the person is ...,unknown,-1
2170,SEMIO_REL,affinity indicating in what way the person is ...,unknown,-1
2178,SEMIO_SOZ,affinity indicating in what way the person is ...,unknown,-1
2186,SEMIO_TRADV,affinity indicating in what way the person is ...,unknown,-1
2194,SEMIO_VERT,affinity indicating in what way the person is ...,unknown,-1
2210,TITEL_KZ,flag whether this person holds an academic title,unknown,-1
2219,WOHNDAUER_2008,length of residence,unknown,-1
2238,WACHSTUMSGEBIET_NB,growing area (population growth in the last 5 ...,unknown,-1
2244,W_KEIT_KIND_HH,likelihood of a child present in this household,unknown,-1
2251,ZABEOTYP,typification of energy consumers,unknown,-1

In [35]:
concatenated_multiple_values_df.head()

,Attribute,Description,Meaning,Value
5,ALTERSKATEGORIE_GROB,age classification through prename analysis,unknown,0
33,ANREDE_KZ,gender,unknown,0
697,GEBAEUDETYP,type of building (residential or commercial),unknown,0
724,GEOSCORE_KLS7,microgeographical risk index concerning popula...,unknown,0
734,HAUSHALTSSTRUKTUR,"structure of the household (single-hh, couple ...",unknown,0

In [39]:
for i in concatenated_multiple_values_df['Attribute']:
    if i in azdias.columns:
        x = concatenated_multiple_values_df.loc[concatenated_multiple_values_df['Attribute'] == i, 'Value'].iloc[0]
        y = azdias.loc[:, i].isin([x])
        azdias.loc[y, i] = np.NaN
    else:
        continue

In [4]:
import pickle

In [8]:
pickle.dump(azdias, open("azdias_nan_multiple.pickle", "wb"))

In [42]:
single_values_df = dias_attributes_ffil[~dias_attributes_ffil["Value"].str.contains(",", na = False)]

In [43]:
single_values_df

,Attribute,Description,Value,Meaning
0,AGER_TYP,best-ager typology,-1,unknown
1,AGER_TYP,best-ager typology,0,no classification possible
2,AGER_TYP,best-ager typology,1,passive elderly
3,AGER_TYP,best-ager typology,2,cultural elderly
4,AGER_TYP,best-ager typology,3,experience-driven elderly
6,ALTERSKATEGORIE_GROB,age classification through prename analysis,1,< 30 years
7,ALTERSKATEGORIE_GROB,age classification through prename analysis,2,30 - 45 years
8,ALTERSKATEGORIE_GROB,age classification through prename analysis,3,46 - 60 years
9,ALTERSKATEGORIE_GROB,age classification through prename analysis,4,> 60 years
10,ALTERSKATEGORIE_GROB,age classification through prename analysis,9,uniformly distributed
11,ALTER_HH,main age within the household,0,unknown / no main age detectable
12,ALTER_HH,main age within the household,1,01.01.1895 bis 31.12.1899
13,ALTER_HH,main age within the household,2,01.01.1900 bis 31.12.1904
14,ALTER_HH,main age within the household,3,01.01.1905 bis 31.12.1909
15,ALTER_HH,main age within the household,4,01.01.1910 bis 31.12.1914
16,ALTER_HH,main age within the household,5,01.01.1915 bis 31.12.1919
17,ALTER_HH,main age within the household,6,01.01.1920 bis 31.12.1924
18,ALTER_HH,main age within the household,7,01.01.1925 bis 31.12.1929
19,ALTER_HH,main age within the household,8,01.01.1930 bis 31.12.1934
20,ALTER_HH,main age within the household,9,01.01.1935 bis 31.12.1939
21,ALTER_HH,main age within the household,10,01.01.1940 bis 31.12.1944
22,ALTER_HH,main age within the household,11,01.01.1945 bis 31.12.1949
23,ALTER_HH,main age within the household,12,01.01.1950 bis 31.12.1954
24,ALTER_HH,main age within the household,13,01.01.1955 bis 31.12.1959
25,ALTER_HH,main age within the household,14,01.01.1960 bis 31.12.1964
26,ALTER_HH,main age within the household,15,01.01.1965 bis 31.12.1969
27,ALTER_HH,main age within the household,16,01.01.1970 bis 31.12.1974
28,ALTER_HH,main age within the household,17,01.01.1975 bis 31.12.1979
29,ALTER_HH,main age within the household,18,01.01.1980 bis 31.12.1984
30,ALTER_HH,main age within the household,19,01.01.1985 bis 31.12.1989
...,...,...,...,...
2225,WOHNDAUER_2008,length of residence,6,length of residence 5-6 years
2226,WOHNDAUER_2008,length of residence,7,length of residence 6-7 years
2227,WOHNDAUER_2008,length of residence,8,length of residence 7-10 years
2228,WOHNDAUER_2008,length of residence,9,length of residence more than 10 years
2229,WOHNLAGE,residential-area,-1,unknown
2230,WOHNLAGE,residential-area,0,no score calculated
2231,WOHNLAGE,residential-area,1,very good neighbourhood
2232,WOHNLAGE,residential-area,2,good neighbourhood
2233,WOHNLAGE,residential-area,3,average neighbourhood
2234,WOHNLAGE,residential-area,4,poor neighbourhood
2235,WOHNLAGE,residential-area,5,very poor neighbourhood
2236,WOHNLAGE,residential-area,7,rural neighbourhood
2237,WOHNLAGE,residential-area,8,new building in rural neighbourhood
2239,WACHSTUMSGEBIET_NB,growing area (population growth in the last 5 ...,1,very high influx
2240,WACHSTUMSGEBIET_NB,growing area (population growth in the last 5 ...,2,high influx
2241,WACHSTUMSGEBIET_NB,growing area (population growth in the last 5 ...,3,middle influx
2242,WACHSTUMSGEBIET_NB,growing area (population growth in the last 5 ...,4,low influx
2243,WACHSTUMSGEBIET_NB,growing area (population growth in the last 5 ...,5,development area
2245,W_KEIT_KIND_HH,likelihood of a child present in this household,1,most likely
2246,W_KEIT_KIND_HH,likelihood of a child present in this household,2,very likely
2247,W_KEIT_KIND_HH,likelihood of a child present in this household,3,likely
2248,W_KEIT_KIND_HH,likelihood of a child present in this household,4,average
2249,W_KEIT_KIND_HH,likelihood of a child present in this household,5,unlikely
2250,W_KEIT_KIND_HH,likelihood of a child present in this household,6,very unlikely
2252,ZABEOTYP,typification of energy consumers,1,green
2253,ZABEOTYP,typification of energy consumers,2,smart
2254,ZABEOTYP,typification of energy consumers,3,fair supplied
2255,ZABEOTYP,typification of energy consumers,4,price driven
2256,ZABEOTYP,typification of energy consumers,5,seeking orientation
2257,ZABEOTYP,typification of energy consumers,6,indifferent

In [44]:
single_values_df_unknown = single_values_df[single_values_df["Meaning"].str.contains("unknown", na = False)]

In [45]:
single_values_df_unknown

,Attribute,Description,Value,Meaning
0,AGER_TYP,best-ager typology,-1,unknown
11,ALTER_HH,main age within the household,0,unknown / no main age detectable
40,BALLRAUM,distance to next urban centre,-1,unknown
48,BIP_FLAG,business-flag indicating companies in the buil...,-1,unknown
51,CAMEO_DEUG_2015,CAMEO classification 2015 - Uppergroup,-1,unknown
105,CAMEO_DEUINTL_2015,CAMEO classification 2015 - international typo...,-1,unknown
131,CJT_GESAMTTYP,customer journey typology,0,unknown
391,D19_KK_KUNDENTYP,consumption movement in the last 12 months,-1,unknown
647,EWDICHTE,density of inhabitants per square kilometer,-1,unknown
654,FINANZTYP,best descirbing financial type for the person,-1,unknown
661,FINANZ_ANLEGER,financial typology: investor,-1,unknown
667,FINANZ_HAUSBAUER,financial typology: main focus is the own house,-1,unknown
673,FINANZ_MINIMALIST,financial typology: low financial interest,-1,unknown
679,FINANZ_SPARER,financial typology: money saver,-1,unknown
685,FINANZ_UNAUFFAELLIGER,financial typology: unremarkable,-1,unknown
691,FINANZ_VORSORGER,financial typology: be prepared,-1,unknown
744,HEALTH_TYP,health typology,-1,unknown
756,INNENSTADT,distance to the city centre,-1,unknown
795,KBA05_ANTG1,number of 1-2 family houses in the cell,-1,unknown
801,KBA05_ANTG2,number of 3-5 family houses in the cell,-1,unknown
807,KBA05_ANTG3,number of 6-10 family houses in the cell,-1,unknown
812,KBA05_ANTG4,number of >10 family houses in the cell,-1,unknown
1139,KBA13_ALTERHALTER_30,share of car owners below 31 within the PLZ8,-1,unknown
1146,KBA13_ALTERHALTER_45,share of car owners between 31 and 45 within t...,-1,unknown
1153,KBA13_ALTERHALTER_60,share of car owners between 46 and 60 within t...,-1,unknown
1160,KBA13_ALTERHALTER_61,share of car owners elder than 61 within the PLZ8,-1,unknown
1168,KBA13_AUDI,share of AUDI within the PLZ8,-1,unknown
1175,KBA13_AUTOQUOTE,share of cars per household within the PLZ8,-1,unknown
1182,KBA13_BJ_1999,share of cars built between 1995 and 1999 with...,-1,unknown
1189,KBA13_BJ_2000,share of cars built between 2000 and 2003 with...,-1,unknown
...,...,...,...,...
1761,KBA13_SEG_OBEREMITTELKLASSE,share of upper middle class cars and upper cla...,-1,unknown
1768,KBA13_SEG_OBERKLASSE,share of upper class cars (BMW 7er etc.) in th...,-1,unknown
1775,KBA13_SEG_SONSTIGE,share of other cars within the PLZ8,-1,unknown
1782,KBA13_SEG_SPORTWAGEN,share of sportscars within the PLZ8,-1,unknown
1789,KBA13_SEG_UTILITIES,share of MUVs/SUVs within the PLZ8,-1,unknown
1796,KBA13_SEG_VAN,share of vans within the PLZ8,-1,unknown
1803,KBA13_SEG_WOHNMOBILE,share of roadmobiles within the PLZ8,-1,unknown
1810,KBA13_SITZE_4,number of cars with less than 5 seats in the PLZ8,-1,unknown
1817,KBA13_SITZE_5,number of cars with 5 seats in the PLZ8,-1,unknown
1824,KBA13_SITZE_6,number of cars with more than 5 seats in the PLZ8,-1,unknown
1831,KBA13_TOYOTA,share of TOYOTA within the PLZ8,-1,unknown
1838,KBA13_VORB_0,share of cars with no preowner - PLZ8,-1,unknown
1845,KBA13_VORB_1,share of cars with 1 preowner - PLZ8,-1,unknown
1852,KBA13_VORB_1_2,share of cars with 1 or 2 preowner - PLZ8,-1,unknown
1859,KBA13_VORB_2,share of cars with 2 preowner - PLZ8,-1,unknown
1866,KBA13_VORB_3,share of cars with 3 or more preowner - PLZ8,-1,unknown
1873,KBA13_VW,share of VOLKSWAGEN within the PLZ8,-1,unknown
2003,ORTSGR_KLS9,size of the community,-1,unknown
2013,OST_WEST_KZ,flag indicating the former GDR/FRG,-1,unknown
2016,PLZ8_ANTG1,number of 1-2 family houses in the PLZ8,-1,unknown
2022,PLZ8_ANTG2,number of 3-5 family houses in the PLZ8,-1,unknown
2028,PLZ8_ANTG3,number of 6-10 family houses in the PLZ8,-1,unknown
2033,PLZ8_ANTG4,number of >10 family houses in the PLZ8,-1,unknown
2042,PLZ8_GBZ,number of buildings within the PLZ8,-1,unknown
2048,PLZ8_HHZ,number of households within the PLZ8,-1,unknown
2084,RETOURTYP_BK_S,return type,0,unknown
2202,SHOPPER_TYP,shopping typology,-1,unknown
2207,SOHO_FLAG,small office/home office flag,-1,unknown
2216,VERS_TYP,insurance typology,-1,unknown
2229,WOHNLAGE,residential-area,-1,unknown

In [5]:
import pickle
azdias_replace_na_single_unknown = pickle.load(open("azdias_nan_multiple.pickle", "rb"))

In [11]:
azdias_replace_na_single_unknown.head()

,LNR,AGER_TYP,AKT_DAT_KL,ALTER_HH,ALTER_KIND1,ALTER_KIND2,ALTER_KIND3,ALTER_KIND4,ALTERSKATEGORIE_FEIN,ANZ_HAUSHALTE_AKTIV,...,VHN,VK_DHT4A,VK_DISTANZ,VK_ZG11,W_KEIT_KIND_HH,WOHNDAUER_2008,WOHNLAGE,ZABEOTYP,ANREDE_KZ,ALTERSKATEGORIE_GROB
0,910215,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,1,2
1,910220,-1,9.0,0.0,NaN,NaN,NaN,NaN,21.0,11.0,...,4.0,8.0,11.0,10.0,3.0,9.0,4.0,5,2,1
2,910225,-1,9.0,17.0,NaN,NaN,NaN,NaN,17.0,10.0,...,2.0,9.0,9.0,6.0,3.0,9.0,2.0,5,2,3
3,910226,2,1.0,13.0,NaN,NaN,NaN,NaN,13.0,1.0,...,0.0,7.0,10.0,11.0,NaN,9.0,7.0,3,2,4
4,910241,-1,1.0,20.0,NaN,NaN,NaN,NaN,14.0,3.0,...,2.0,3.0,5.0,4.0,2.0,9.0,3.0,4,1,3

In [6]:
unknown_single = pickle.load(open("unknown_single.pickle", "rb"))

In [10]:
unknown_single_70 = unknown_single.head(70)

In [11]:
for i in unknown_single_70['Attribute']:
    print(i)
    if i in azdias_replace_na_single_unknown.columns:
        x = unknown_single_70.loc[unknown_single['Attribute'] == i, 'Value'].iloc[0]
        y = azdias_replace_na_single_unknown.loc[:, i].isin([x])
        azdias_replace_na_single_unknown.loc[y, i] = np.NaN
    else:
        continue

AGER_TYP

MemoryError:

In [ ]:
azdias_replace_na_single_unknown.head()

In [ ]:
pickle.dump(azdias_replace_na_single_unknown, open("azdias_replace_na_single_unknown_1711.pickle", "wb"))

In [3]:
azdias_replace_na_single_unknown.head()

NameError: name 'azdias_replace_na_single_unknown' is not defined

In [ ]:
pickle.dump(azdias_replace_na_single_unknown, open("azdias_nan_multiple_with_single_unknown.pickle", "wb"))

In [ ]:
pickle.dump(single_values_df_unknown, open("unknown_single.pickle", "wb"))

In [ ]:
pickle.dump(concatenated_multiple_values_df, open("unknown_multiple.pickle", "wb"))

In [82]:
concatenated_multiple_values_df.loc[concatenated_multiple_values_df["Attribute"] == "AGER_TYP", "Value"]

Series([], Name: Value, dtype: object)

In [33]:
azdias.AGER_TYP.unique()

array([ nan,   8.,   1.,   3.,   2.,   6.,   4.,   5.])

In [83]:
azdias.KBA05_CCM1.unique()

array([ nan,   1.,   5.,   2.,   4.,   3.])

In [14]:
dias_attributes_gr

In [ ]:
# Be sure to add in a lot more cells (both markdown and code) to document your
# approach and findings!

## Part 1: Customer Segmentation Report

The main bulk of your analysis will come in this part of the project. Here, you should use unsupervised learning techniques to describe the relationship between the demographics of the company's existing customers and the general population of Germany. By the end of this part, you should be able to describe parts of the general population that are more likely to be part of the mail-order company's main customer base, and which parts of the general population are less so.

## Part 2: Supervised Learning Model

Now that you've found which parts of the population are more likely to be customers of the mail-order company, it's time to build a prediction model. Each of the rows in the "MAILOUT" data files represents an individual that was targeted for a mailout campaign. Ideally, we should be able to use the demographic information from each individual to decide whether or not it will be worth it to include that person in the campaign.

The "MAILOUT" data has been split into two approximately equal parts, each with almost 43 000 data rows. In this part, you can verify your model with the "TRAIN" partition, which includes a column, "RESPONSE", that states whether or not a person became a customer of the company following the campaign. In the next part, you'll need to create predictions on the "TEST" partition, where the "RESPONSE" column has been withheld.

In [ ]:
mailout_train = pd.read_csv('../../data/Term2/capstone/arvato_data/Udacity_MAILOUT_052018_TRAIN.csv', sep=';')

## Part 3: Kaggle Competition

Now that you've created a model to predict which individuals are most likely to respond to a mailout campaign, it's time to test that model in competition through Kaggle. If you click on the link [here](http://www.kaggle.com/t/21e6d45d4c574c7fa2d868f0e8c83140), you'll be taken to the competition page where, if you have a Kaggle account, you can enter. If you're one of the top performers, you may have the chance to be contacted by a hiring manager from Arvato or Bertelsmann for an interview!

Your entry to the competition should be a CSV file with two columns. The first column should be a copy of "LNR", which acts as an ID number for each individual in the "TEST" partition. The second column, "RESPONSE", should be some measure of how likely each individual became a customer – this might not be a straightforward probability. As you should have found in Part 2, there is a large output class imbalance, where most individuals did not respond to the mailout. Thus, predicting individual classes and using accuracy does not seem to be an appropriate performance evaluation method. Instead, the competition will be using AUC to evaluate performance. The exact values of the "RESPONSE" column do not matter as much: only that the higher values try to capture as many of the actual customers as possible, early in the ROC curve sweep.

In [ ]:
mailout_test = pd.read_csv('../../data/Term2/capstone/arvato_data/Udacity_MAILOUT_052018_TEST.csv', sep=';')